<span class="multiSelect inlineBlock" id={{directiveId}}>
    <!-- main button -->
    <button type="button" 
        ng-click="toggleCheckboxes( $event ); refreshSelectedItems(); refreshButton();" 
        ng-bind-html="varButtonLabel">
    </button>                              
    <div class="checkboxLayer">                        
        <form> 
            <div class="helperContainer" ng-if="displayHelper( 'filter' ) || displayHelper( 'all' ) || displayHelper( 'none' ) || displayHelper( 'reset' )">               
                <div class="line" ng-if="displayHelper( 'all' ) || displayHelper( 'none' ) || displayHelper( 'reset' )">
                    <!-- select all -->
                    <button type="button" class="helperButton" 
                        ng-if="!isDisabled && displayHelper( 'all' )"  
                        ng-click="select( 'all', $event );" 
                        ng-bind-html="lang.selectAll">
                    </button>
                    <!-- select none -->
                    <button type="button" class="helperButton"
                        ng-if="!isDisabled && displayHelper( 'none' )" 
                        ng-click="select( 'none', $event );"
                        ng-bind-html="lang.selectNone">
                    </button>
                    <!-- reset -->
                    <button type="button" class="helperButton reset" 
                        ng-if="!isDisabled && displayHelper( 'reset' )" 
                        ng-click="select( 'reset', $event );" 
                        ng-bind-html="lang.reset">
                    </button>
                </div>
                <div class="line" style="position:relative" ng-if="displayHelper( 'filter' )">                    
                    <!-- search (filter) field -->
                    <input placeholder="{{lang.search}}" type="text" 
                        ng-click="select( 'filter', $event )" 
                        ng-model="inputLabel.labelFilter" 
                        ng-change="searchChanged()" class="inputFilter"                        
                        />
                    <!-- x button -->
                    <button type="button" class="clearButton" ng-click="clearClicked( $event )" >&times;</button> 
                </div> 
            </div> 
            <div class="checkBoxContainer">
                <div 
                    ng-repeat="item in filteredModel | filter:removeGroupEndMarker" class="multiSelectItem"
                    ng-class="{selected: item[ tickProperty ], horizontal: orientationH, vertical: orientationV, multiSelectGroup:item[ groupProperty ], disabled:itemIsDisabled( item )}"
                    ng-click="syncItems( item, $event, $index );" 
                    ng-mouseleave="removeFocusStyle( tabIndex );">                     
                    <!-- group spacings -->
                    <div class="acol" ng-if="item[ spacingProperty ] > 0" ng-repeat="i in numberToArray( item[ spacingProperty ] ) track by $index">
                        &nbsp;
                    </div>              
                    <!-- item -->
                    <div class="acol">
                        <label>
                            <!-- this checkbox is there to contain the state. hidden. -->
                            <input class="checkbox focusable" type="checkbox" 
                                ng-disabled="itemIsDisabled( item )" 
                                ng-checked="item[ tickProperty ]" 
                                ng-click="syncItems( item, $event, $index )" />
                            <!-- label -->
                            <span 
                                ng-class="{disabled:itemIsDisabled( item )}" 
                                ng-bind-html="writeLabel( item, 'itemLabel' )">
                            </span>
                        </label>                                
                    </div>                    
                    <!-- tick mark -->
                    <span class="tickMark" ng-if="item[ groupProperty ] !== true && item[ tickProperty ] === true">&#10004;</span>
                </div>
            </div>
        </form>
    </div>
</span>


