<span class="multiSelect inlineBlock">
        <!-- main button -->
        <button
            id="{{directiveId}}"
            type="button"
            ng-click="toggleCheckboxes( $event ); refreshSelectedItems(); refreshButton(); prepareGrouping; prepareIndex();"
            ng-bind-html="varButtonLabel"
            ng-disabled="disable-button"
        >
        </button>
        <!-- overlay layer -->
        <div class="checkboxLayer">
            <!-- container of the helper elements -->
            <div
                class="helperContainer"
                ng-if="helperStatus.filter || helperStatus.all || helperStatus.none || helperStatus.reset "
            >
                <!-- container of the first 3 buttons, select all, none and reset -->
                <div
                    class="line"
                    ng-if="helperStatus.all || helperStatus.none || helperStatus.reset "
                >
                    <!-- select all -->
                    <button
                        type="button"
                        class="helperButton"
                        ng-disabled="isDisabled"
                        ng-if="helperStatus.all"
                        ng-click="select( all, $event );"
                        ng-bind-html="lang.selectAll">
                    </button>
                    <!-- select none -->
                    <button
                        type="button"
                        class="helperButton"
                        ng-disabled="isDisabled"
                        ng-if="helperStatus.none"
                        ng-click="select( none, $event );"
                        ng-bind-html="lang.selectNone">
                    </button>
                    <!-- reset -->
                    <button
                        type="button"
                        class="helperButton reset"
                        ng-disabled="isDisabled"
                        ng-if="helperStatus.reset"
                        ng-click="select( reset, $event );"
                        ng-bind-html="lang.reset">
                    </button>
                </div>
                <!-- the search box -->
                <div
                    class="line"
                    style="position:relative"
                    ng-if="helperStatus.filter"
                >
                    <!-- textfield -->
                    <input
                        placeholder="{{ lang.search }}"
                        type="text"
                        ng-click="select( filter, $event )"
                        ng-model="inputLabel.labelFilter"
                        ng-change="searchChanged()" class="inputFilter"
                    />
                    <!-- clear button -->
                    <button
                        type="button"
                        class="clearButton"
                        ng-click="clearClicked( $event )"
                    >
                        &times;
                    </button>
                </div>
            </div>
            <!-- selection items -->
            <div class="checkBoxContainer">
                <div
                    ng-repeat="item in filteredModel | filter:removeGroupEndMarker"
                    class="multiSelectItem"
                    ng-class="{
                        selected: item[ tickProperty ],
                        horizontal: orientationH,
                        vertical: orientationV,
                        multiSelectGroup:item[ groupProperty ],
                        disabled:itemIsDisabled( item )
                    }"
                    ng-click="syncItems( item, $event, $index );"
                    ng-mouseleave="removeFocusStyle( tabIndex );">
                    <!-- this is the spacing for grouped items -->
                    <div
                        class="acol"
                        ng-if="item[ spacingProperty ] > 0"
                        ng-repeat="i in numberToArray( item[ spacingProperty ] ) track by $index"
                    >
                </div>
                <div class="acol">
                    <label>
                        <!-- input, so that it can accept focus on keyboard click -->
                        <input
                            class="checkbox focusable"
                            type="checkbox"
                            ng-disabled="itemIsDisabled( item )"
                            ng-checked="item[ tickProperty ]"
                            ng-click="syncItems( item, $event, $index )"
                        />
                        <!-- item label using ng-bind-hteml -->
                        <span
                            ng-class="{
                                disabled:itemIsDisabled( item )
                            }"
                            ng-bind-html="writeLabel( item, itemLabel )">
                        </span>
                    </label>
                </div>
                <!-- the tick/check mark -->
                <span
                    class="tickMark"
                    ng-if="item[ groupProperty ] !== true && item[ tickProperty ] === true"
                    ng-bind-html="icon.tickMark"
                ></span>
            </div>
        </div>
    </div>
</span>