<!doctype html>
<html lang="en" ng-app="myApp" id="ng-app">
<head>
    <title>Angular JS Multi-Select</title>    
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <!-- multi select directive -->
    <script src="angular-multi-select.js"></script>            
    <!-- css -->
    <link rel="stylesheet" href="angular-multi-select.css">                
</head>
    
<body ng-controller="main">

    Minimal: 
    <br />
    <div 
        multi-select 
        input-model="minData" 
        item-label="firstName"
        >
    </div>
    
    <br /><br />

    Full: 
    <br />
    <button type="button" ng-click="fullDisabled = !fullDisabled" >Enable / Disable</button>    
    <br />
    <div 
        multi-select 
        input-model="fullData" 
        item-label="firstName lastName" 
        item-ticker="checked" 
        output-model="resultData" 
        orientation="vertical"
        max-height="800"
        max-labels="3"
        is-disabled="fullDisabled"
        >
    </div>

    <br /><br />
    <button type="button" ng-click="switchSource()" >Dynamically switch data source</button>    

</body>   

<script>            

// Load the multi-select module
var myApp = angular.module('myApp', [ 'multi-select' ]);

// Controller
myApp.controller( 'main' , [ '$scope' , function ($scope) {

    $scope.switchSource = function() {
        var temp = angular.copy( $scope.minData );
        $scope.minData = angular.copy( $scope.fullData );
        $scope.fullData = angular.copy( temp );
        alert( 'You have switched the data source. If you don\'t see the pre-selected items, maybe you need to change the "item-ticker" from \'selected\' <=> \'checked\' in your directive tag :) ');
    }
    
/////////////
//  Minimal
/////////////

    $scope.minData = [
        { id: 1, firstName: "Peter",    lastName: "Parker",     selected: false },
        { id: 2, firstName: "Mary",     lastName: "Jane",       selected: false },
        { id: 3, firstName: "Bruce",    lastName: "Wayne",      selected: true },
        { id: 4, firstName: "David",    lastName: "Banner",     selected: false },
        { id: 5, firstName: "Natalia",  lastName: "Romanova",   selected: false },
        { id: 6, firstName: "Clark",    lastName: "Kent",       selected: true },
    ];

    // Watch minData changed
    $scope.$watch( "minData" , function( newVal ) {
        angular.forEach( newVal , function( value, key ) {                    
            if ( value.selected === true ) {
                console.log( '.selected === true: ' + value.firstName + ' ' + value.lastName );
            }
        });
    }, true );            

/////////////
//  Full
/////////////
    
    // You can try to disable/enable the checkboxes here
    $scope.fullDisabled = false;
    $scope.resultData = [];
    
    // Data. For the sake of testing, this time around we try to use 'checked' to hold checkbox state.
    $scope.fullData = [
        { id: 1, firstName: "Tom",      lastName: "Cruise",     checked: true },
        { id: 2, firstName: "Brad",     lastName: "Pitt",       checked: false },
        { id: 3, firstName: "Angelina", lastName: "Jolie",      checked: false },
        { id: 4, firstName: "Scarlett", lastName: "Johansson",  checked: false },
        { id: 5, firstName: "Gerard",   lastName: "Buttler",    checked: true },
        { id: 6, firstName: "Leonardo", lastName: "DiCaprio",   checked: false },
    ];

    // Watch fullData changed
    $scope.$watch( "fullData" , function( newVal ) {
        angular.forEach( newVal , function( value, key ) {                    
            if ( value.checked === true ) {
                console.log( '.checked === true: ' + value.firstName + ' ' + value.lastName );
            }
        });
    }, true );         

    // Watch resultData changed
    $scope.$watch( "resultData" , function( newVal ) {
        angular.forEach( newVal , function( value, key ) {                    
            if ( value.checked === true ) {
                console.log( '.checked === true: ' + value.firstName + ' ' + value.lastName );
            }
        });
    }, true );        

}]);    

</script>    
</html>
