<!doctype html>
<html lang="en" ng-app="myApp" id="ng-app">
<head>
    <title>Angular JS Multi-Select</title>    
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <!-- multi select directive -->
    <script src="angular-multi-select.js"></script>                 
    <!-- css -->
    <link rel="stylesheet" href="angular-multi-select.css">                
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">    
</head>
    
<body ng-controller="main">

    * Open your browser console to see the $scope variables getting updated
    <br />
    <br />

    Minimal: 
    <br />
    <div
        multi-select 
        input-model="minData" 
        item-label="firstName"
        tick-property="selected" 
        >
    </div>
    
    <br /><br />

    Full: 
    <br />
    <div 
        multi-select 
        input-model="fullData" 
        output-model="resultData"
        item-label="firstName lastName" 
        tick-property="checked" 
        orientation="horizontal"
        max-labels="3"     
        directive-id="multiSelectFull"
        >
    </div>

    <br /><br />

    Use element instead of attribute, load input model on the fly, and toggle checkbox state
    <br />
    <multi-select 
        input-model="dynamicData" 
        item-label="car"
        tick-property="ticked" 
        is-disabled="dinDisabled"
        >
    </multi-select>
    
    <br /><br />
    <button type="button" ng-click="switchSource( 'data1' )" >Load data 1</button>    
    <button type="button" ng-click="switchSource( 'data2' )" >Load data 2</button>    
    <button type="button" ng-click="switchSource( 'data3' )" >Load data 3</button>    

    <br /><br />
    <button type="button" ng-click="dinDisabled = !dinDisabled" >Enable / Disable</button>    
    Is disabled: {{dinDisabled}}    

</body>   

<script>            

// Load the multi-select module
var myApp = angular.module('myApp', [ 'multi-select' ]);

// Controller
myApp.controller( 'main' , [ '$scope' , function ($scope) {
    

    /////////////
    //  Minimal
    /////////////

    $scope.minData = [
        { id: 1, firstName: "Peter",    lastName: "Parker",     selected: false },
        { id: 2, firstName: "Mary",     lastName: "Jane",       selected: false },
        { id: 3, firstName: "Bruce",    lastName: "Wayne",      selected: true },
        { id: 4, firstName: "David",    lastName: "Banner",     selected: false },
        { id: 5, firstName: "Natalia",  lastName: "Romanova",   selected: false },
        { id: 6, firstName: "Clark",    lastName: "Kent",       selected: true },
    ];

    // Open your console and watch minData changes
    $scope.$watch( "minData" , function( newVal ) {                 
        angular.forEach( newVal , function( value, key ) {                    
            if ( value.selected === true ) {
                console.log( 'minData .selected === true: ' + value.firstName + ' ' + value.lastName );
            }
        });
        console.log( '--------' );
    }, true );                


    /////////////
    //  Full
    /////////////
    
    $scope.resultData = [];
    
    // Data. For the sake of testing, this time around we try to use 'checked' to hold checkbox state.
    $scope.fullData = [
        { id: 1, firstName: "Tom",      lastName: "Cruise",     checked: true },
        { id: 2, firstName: "Brad",     lastName: "Pitt",       checked: false },
        { id: 3, firstName: "Angelina", lastName: "Jolie",      checked: false },
        { id: 4, firstName: "Scarlett", lastName: "Johansson",  checked: false },
        { id: 5, firstName: "Gerard",   lastName: "Buttler",    checked: true },
        { id: 6, firstName: "Leonardo", lastName: "DiCaprio",   checked: false },
    ];

    // Open your console and watch fullData changes
    $scope.$watch( "fullData" , function( newVal ) {
        angular.forEach( newVal , function( value, key ) {                    
            if ( value.checked === true ) {
               console.log( 'fullData .checked === true: ' + value.firstName + ' ' + value.lastName );
            }
        });
        console.log( '--------' );         
    }, true );         

    // Open your console and watch resultData changes
    $scope.$watch( "resultData" , function( newVal, oldVal ) {        
        if ( $scope.resultData.length > 0 && !angular.equals( oldVal, newVal ) ) {
            angular.forEach( newVal , function( value, key ) {                    
                if ( value.checked === true ) {
                   console.log( 'resultData .checked === true: ' + value.firstName + ' ' + value.lastName );
                }
            });
            console.log( '--------' );
        }
    }, true );    


    /////////////
    //  Dynamic
    /////////////    

    $scope.dynamicData = [];
    $scope.dinDisabled = false;

    $scope.switchSource = function( data ) {
        $scope.dynamicData = $scope[ data ];
    }
    
    // Japan cars
    $scope.data1 = [
        { car: 'Toyota' , ticked: true },
        { car: 'Mazda'  , ticked: false },
        { car: 'Nissan' , ticked: true },
        { car: 'Honda'  , ticked: false }
    ];

    // German cars
    $scope.data2 = [
        { car: 'Audi'       , ticked: false },
        { car: 'BMW'        , ticked: false },
        { car: 'Mercedes'   , ticked: true },
    ];

    // Italian cars
    $scope.data3 = [
        { car: 'Porsche'    , ticked: false },
        { car: 'Ferrari'    , ticked: false },
        { car: 'Fiat'       , ticked: true },        
        { car: 'Lamborgini' , ticked: true },                
    ];

    // Open your console and watch dynamicData changes
    $scope.$watch( "dynamicData" , function( newVal, oldVal ) {        
        if ( !angular.equals( oldVal, newVal ) ) {
            angular.forEach( newVal , function( value, key ) {                    
                if ( value.ticked === true ) {
                   console.log( 'dynamicData .ticked === true: ' + value.car );
                }
            });
            console.log( '--------' ); 
        }
    }, true );                 
}]);    

</script>    
</html>
