<div class="row">    
    <div class="col-sm-12">

        <h3 class="pageHeading">Bug Reporting & Contributing</h3>

        <h5>Bug Reporting</h5>
        Please follow these steps:        
        <ol>            
            <li>Search in the <a href="https://github.com/isteven/angular-multi-select/issues">issue</a> section first. There might already be an answer for similar issue. Do check both open and closed issues.</li>
            <li>If there's no previous issue found, then please create a new issue in <a href="https://github.com/isteven/angular-multi-select/issues">https://github.com/isteven/angular-multi-select/issues</a>.</li>
            <li><label class="label label-danger">Important</label> Please replicate the problem in JSFiddle or Plunker (or any other online JS collaboration tool), and include the URL in the issue you are creating.</li>
        </ol>

        <h5>Contributing</h5>
        
        Notes on contributing and Pull Requests (PRs):
        <ol>            
            <li>I will prioritize PRs which serve the greater good with the least complexity.</li>
            <li>If I don't accept a PR, it means either:
                <ul>
                    <li>I am working on the same thing, or</li>
                    <li>It doesn't serve greater good, or</li>
                    <li>It conflicts with existing functionalities</li>
                </ul>
            </li>
        </ol>
        <br />
        As of now, some of the most wanted features are:
        <ul>            
            <li>AJAX (or promise objects)</li>
            <li>Lazy loading</li>
        </ul>
        
    </div>
</div>

