<div class="row">    
    <div class="col-sm-12">

        <h3 class="pageHeading">Contributing</h3>
        
        <h5>Notes on contributing and Pull Requests (PRs):</h5>
        <p>As usual, I will prioritize PRs which serve the greater good, or are critical.</p>
        <p>If I don't accept a PR, it means either:</p>
        <ul>
            <li>I am currently working on the same thing, or</li>
            <li>It doesn't serve greater good (perhaps only applies to you or, say, 5% of the users), or</li>
            <li>It conflicts with existing functionalities</li>
        </ul>

        <p>As of now, some of the most wanted features are:</p>
        <ul>            
            <li>AJAX (or promise objects)</li>
            <li>Lazy loading</li>
        </ul>

        <p>
            When working on a PR, please set your TAB to be 4 spaces (ASCII 32). 
        </p>

        <h5>Useful Pull Requests</h5>
        <p>
            Here are some PRs contributed by various great developers, but not included in the project due to reasons above.
        </p>
        <ul>
            <li>
                <a href="https://github.com/isteven/angular-multi-select/pull/151" target="_blank">#151</a> 
                Using angular in itemlabels (tooltips) - compile directive added and used
            </li>
            <li>
                <a href="https://github.com/isteven/angular-multi-select/pull/127" target="_blank">#127</a> 
                Customize output model properties, single item behavior, control disabled, filter patch, etc.
            </li>
            <li>
                <a href="https://github.com/isteven/angular-multi-select/pull/95" target="_blank">#95</a> 
                Add custom "more" label callback 
            </li>
            <li>
                <a href="https://github.com/isteven/angular-multi-select/pull/78" target="_blank">#78</a> 
                Allow hidden items
            </li>
            <li>
                <a href="https://github.com/isteven/angular-multi-select/pull/57" target="_blank">#57</a> 
                Add ability to change label divider 
            </li>
        </ul>
    </div>
</div>

