<div class="row">    
    <div class="col-sm-12">

        <h3 class="pageHeading">Contributing</h3>
        
        Notes on contributing and Pull Requests (PRs):
        <ol>            
            <li>As usual, I will prioritize PRs which serve the greater good, or are critical.</li>
            <li>If I don't accept a PR, it means either:
                <ul>
                    <li>I am currently working on the same thing, or</li>
                    <li>It doesn't serve greater good (perhaps only applies to you or, say, 5% of the users), or</li>
                    <li>It conflicts with existing functionalities</li>
                </ul>
            </li>
        </ol>
        <br />
        As of now, some of the most wanted features are:
        <ul>            
            <li>AJAX (or promise objects)</li>
            <li>Lazy loading</li>
        </ul>
        
    </div>
</div>

