<div class="row">    
    <div class="col-sm-12">

        <h3 class="pageHeading">Issues & Bug Reporting</h3>

        Please follow these steps:        
        <ol>            
            <li>
                <strong>READ THE MANUAL AGAIN</strong>. You might have missed something. This includes the MINIMUM ANGULARJS VERSION and the SUPPORTED BROWSERS.
            </li>
            <li>
                The next step is to search in Github's <a href="https://github.com/isteven/angular-multi-select/issues">issue</a> 
                section first. There might already be an answer for similar issue. Do check both open and closed issues.
            </li>
            <li>
                If there's no previous issue found, then please create a new issue in 
                <a href="https://github.com/isteven/angular-multi-select/issues">https://github.com/isteven/angular-multi-select/issues</a>.
            </li>
            <li>
                <label class="label label-danger">Important</label> Please replicate 
                the problem in JSFiddle or Plunker (or any other online JS collaboration tool), and 
                include the URL in the issue you are creating.
            </li>
            <li>
                <label class="label label-danger">Important</label> When you're done, please close the issue you've created.
            </li>            
        </ol>
        <p>
            I usually close issues that have no further response within certain days.
        </p>
    </div>
</div>

