<div class="row">    
    <div class="col-sm-12">

        <h3 class="pageHeading">Other Cool Stuffs</h3>
        
        Have a look on other directives I've created:
        <ul>     
            <!-- <li><a href="https://github.com/isteven/angular-multi-select" target='_blank'>AngularJS Multi Select</a>: multi-select dropdown, able to use HTML in your data. Supports unlimited nested grouping.</li> -->
            <li><a href="https://github.com/isteven/angular-omni-bar" target='_blank'>AngularJS Omni Bar</a>: multi purpose loading / progress bar.</li>
            <li><a href="https://github.com/isteven/angular-route-rage" target='_blank'>AngularJS Route Rage</a>: use $routeParams parameters directly in your view.</li>
        </ul>
    </div>
</div>    
